        body {
            margin: 0;
            font-family: Arial, sans-serif;
            display: flex;
        }

        .left-column {
            flex: 1;
            background-color: #333;
            color: white;
            padding: 20px;
            display: flex;
            flex-direction: column;
             justify-content: space-between; 
	    max-width: 200px;
        }

        .right-column {
            flex: 2;
            padding: 20px;
        }

        .menu-button {
            margin: 5px 0;
            padding: 10px 20px;
            background: none;
            border: none;
            color: white;
            cursor: pointer;
            display: inline-block;
            margin-right: 10px;
            text-decoration: none;
            color: white;
        }

        .menu-button:hover {
            background-color: #555;
        }

        .search-input {
            width: 80%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .add-video-button {
            padding: 10px 20px;
            background-color: #E62117;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .categories {
            text-align: left;
            background-color: #333;
            color: white;
            padding: 20px;
        }

        .category {
            padding: 10px 20px;
            background: none;
            border: none;
            color: white;
            cursor: pointer;
            display: inline-block;
            margin-right: 10px;
            text-decoration: none;
            color: white;
        }
        .category:hover {
            background-color: #555;
        }

        .center-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
	    width: 100%;
}
        }

.video {
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: calc(30% - 20px); 
    width: 100%;
    box-sizing: border-box;
    overflow: hidden; 
}

.video iframe {
    width: 100%; 
    height: 100%; 
    margin-left: -8px; 
    margin-right: -8px; 
}

div {
    display: block;
}
