header {
            background-color: #333;
            color: white;
            padding: 10px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
        }

        /* Меню навігації */
        header ul {
            list-style: none;
            padding: 0;
            text-align: center;
        }

        header ul li {
            display: inline;
            margin: 0 10px;
        }

        header a {
            color: white;
            text-decoration: none;
            margin: 10px;
            font-weight: bold;
        }

footer {
            background-color: #333;
            color: white;
            padding: 10px;
            text-align: center;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
        }

        footer a {
            color: white;
            text-decoration: none;
            margin: 10px;
        }

        footer a:hover {
            color: #007BFF;
        }

section {
    position: relative;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 75dvh;
}
.informationPage {
    flex-direction: column;
}

tr:first-child, #time{
    background-color: rgb(0, 173, 173);
    color: white;
    text-align: center;
}
.trClasses {
    height: 50px;
    border: 1px solid rgb(175, 173, 173);
    text-align: center;
    background-color: rgb(170, 235, 170);
}
.trClassesPractice {
    height: 50px;
    border: 1px solid rgb(175, 173, 173);
    text-align: center;
    background-color: rgb(229, 235, 170);
}
tr:last-child {
    background-color: rgb(235, 180, 170);
    text-align: center;
}
.container {
            text-align: center;
}